/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #003049;
  color: white;
  padding: 10px 20px;
}

.logo-text {
  font-size: 1.5em;
}

nav {
  display: flex;
  gap: 20px;
}

/* About Section Styles */
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.image-circle {
  border: 2px solid #003049;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

/* Portfolio Section Styles */
#portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

#portfolio section {
  flex-basis: 30%;
  padding: 20px;
  border: 1px solid #ccc;
}

#portfolio h3 {
  font-size: 1.2em;
}

#portfolio p {
  font-size: 14px;
}
